a {
    color: darkslategrey;
}

iframe {
    border: none;
}

.background-override {
  color: blue;
}

.clear {
    clear: both;
}

/* Main page */

.main-page-div {
    max-width: 250px;
    margin: auto;
    z-index: 999;
}

.main-logo {
    max-width: 250px;
    height: auto;
}

.main-header {
    width: 250px;
    font-size: larger;
    text-align: center;
    color: navy;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-page-nav-element {
    width: 250px;
    background-color: navy;
    color: white;
    font-size: larger;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-link {
    color: white;
    text-decoration: none;
}

/* Main page background */

.cs-slideshow, .cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -10;
}

.cb-slideshow:after {
    content: '';
    background: url(../images/dicebackground.jpg);
    opacity: 0.1;
}

/* About Me page */

#profile-image {
    max-width: 300px;
    max-height: 300px;
}

#profile-image-container {
    float: right;
    width: 300px;
    height: 300px;
}

.text-container {
    max-width: 50%;
}

/* Unpublished Games */

.unpublished-game-container {
    clear: both;
}

.unpublished-game-title {
    margin-bottom: 1rem;
}

.unpublished-image-container {
    width: 300px;
    height: 300px;
    float: left;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.unpublished-sample {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}

/* Gallery things */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.gallery-item {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
  
.gallery-item img {
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;

    /* To vertically and horizonally centre. */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.gallery-link {
    color: #fff;
}
  
.gallery-item:hover .overlay {
    opacity: 1;
}

/* Game Pages */

.game-sample-image {
    max-width: 100%;
    max-height: 400px;
    padding: 1rem;
}

/* Blog Pages */

.blog-div {
    max-width: 800px;
}

.blog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 400px;
    padding: 1rem;
}

.narrow-text {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 772px) {
    /* About Me page */
    /* #profile-image {
        max-width: 300px;
        max-height: 300px;
    } */
    
    #profile-image-container {
        float: none;
        clear: both;
        /* width: 300px;
        height: 300px; */
        margin: 1rem;
    }
    
    .text-container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 566px) {
    .nav-item {
        font-size: small;
    }
}
