iframe {
    border: none;
}

.background-override {
  color: blue;
}

.clear {
    clear: both;
}

/* About Me page */

#profile-image {
    max-width: 300px;
    max-height: 300px;
}

#profile-image-container {
    float: right;
    width: 300px;
    height: 300px;
}

.text-container {
    max-width: 50%;
}

/* Unpublished Games */

.unpublished-game-container {
    clear: both;
}

.unpublished-game-title {
    margin-bottom: 1rem;
}

.unpublished-image-container {
    width: 300px;
    height: 300px;
    float: left;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.unpublished-sample {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}

/* Gallery things */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 2rem 0; */
}
  
.gallery-item {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
  
.gallery-item img {
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;

    /* To vertically and horizonally centre. */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.gallery-link {
    color: #fff;
}
  
.gallery-item:hover .overlay {
    opacity: 1;
}

/* Game Pages */

.game-sample-image {
    max-width: 100%;
    max-height: 400px;
    /* height: auto; */
    padding: 1rem;
}